@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-orange: #FF9933;

    --morning-bg: #FFF3E0;
    --morning-text: #EF6C00;

    --lunch-bg: #E8F5E9;
    --lunch-text: #2E7D32;

    --dinner-bg: #ECEFF1;
    --dinner-text: #455A64;
}
